<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="../Highcharts/code/highcharts.js"></script>
    <script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
</head>
<body>

    <div id="container" style="min-width:400px;height:400px"></div>
</body>
<script>
    $(function(){
        $.ajax({
            url:"../user/queryBook",
            type:"post",
            dataType:"json",
            success:function (data) {
                Highcharts.chart('container', {
                     chart: {
                         plotBackgroundColor: null,
                         plotBorderWidth: null,
                         plotShadow: false,
                         type: 'pie'
                     },
                     title: {
                         text: '书籍个数'
                     },
                     tooltip: {
                         pointFormat: '{series.name}: <b>{point.y}</b>'
                     },
                     plotOptions: {
                         pie: {
                             allowPointSelect: true,
                             cursor: 'pointer',
                             dataLabels: {
                                 enabled: true,
                                 format: '<b>{point.name}</b>: {point.y} ',
                                 style: {
                                     color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                 }
                             }
                         }
                     },
                     series: [{
                         name: '书籍的数量',
                         colorByPoint: true,
                         data: data
                     }]
                 });
               /* var chart = Highcharts.chart('container', {
                    title: {
                        text: '书籍的占比'
                    },
                    subtitle: {
                        text: '1902B书籍'
                    },
                    yAxis: {
                        title: {
                            text: '书籍的数量'
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },
                    series:data,
                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 500
                            },
                            chartOptions: {
                                legend: {
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'bottom'
                                }
                            }
                        }]
                    }
                });*/
            },error:function () {
                alert("查询失败")
            }
        })
    })
</script>
</html>