<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>





    <script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>

    <script type="text/javascript" src="../js/easyui1.5/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../js/easyui1.5/locale/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" href="../js/easyui1.5/themes/default/easyui.css"></link>
    <link rel="stylesheet" href="../js/easyui1.5/themes/icon.css"></link>





</head>
<!-- layout布局开始 -->
<body class="easyui-layout">

<div data-options="region:'north',title:'North Title',split:true" style="height:100px;">
    <h1 align="center">welcome to My zone</h1>
</div>
<div data-options="region:'west',title:'West',split:true" style="width:250px;">



    <!-- 手风琴开始 -->
    <div id="aa" class="easyui-accordion"  fit=true >

        <div title="书籍管理（动态树-同步）"style="overflow:auto;">

            <ul id="tongtree"></ul>

        </div>

    </div>
    <!--手风琴结束  -->





</div>

<div data-options="region:'center',title:'center title'" style="padding:5px;background:#eee;">

    <!--选项卡开始  -->
    <div id="tabsId" class="easyui-tabs" fit=true>

    </div>

    <!--选项卡结束  -->

</div>
</body>
<script type="text/javascript">
    $(function(){

        addTabls();
        gettongtree();







    });

    //同步树
    function gettongtree(){

        $('#tongtree').tree({
            url:'../user/getTreeAll'
        });

    }







    function  addTabls(){

        $('#tongtree').tree({
            onClick: function(node){
                console.log(node);
                //先获取选项卡,然后判断是否存在该选项卡
                var tag = $("#tabsId").tabs('exists',node.text);

                if(tag){
                    //如果存在当前选项卡，就让他显示这个选项卡
                    $('#tabsId').tabs('select',node
                        .text);

                }else{
                    // 判断是不是父节点 如果是 是父节点 就  不让 打开  tabls
                    if( (node.children=="" ||  node.children==null) && node.state != 'closed' && node.pid !=0){

                        if(node.url == null ){

                            // 如果没有就新建
                            $('#tabsId').tabs('add',{
                                title:node.text,
                                closable:true,
                                content:createJsp("/404.jsp")
                            });
                        }else{
                            // 如果没有就新建
                            $('#tabsId').tabs('add',{
                                title:node.text,
                                closable:true,
                                content:createJsp(node.url)
                            });

                        }



                    }





                }



            }
        });



    }

    //去加载一个界面
    function createJsp(url){

        return '<iframe scrolling="auto" frameborder="0"  src="..'+ url + '" style="width:100%;height:100%;"></iframe>';
    }

</script>







</html>